@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*---------CSS Variables------------*/
:root{
    --header-height: 3rem;

    /*colors*/
    --orange-color: #fc6453;
    --orange-soft-color: #ffd8c8;

    --white-color: #fff;
    --black-color: #141414;
    --gray-color: #555;
    --gray-color-lighten: #f6f6f6;
    --footer-color:#1b262c;

    /* Font */
    --body-font: 'Poppins', sans-serif;

    --biggest-font-size: 2.5rem;
    --big-font-size: 1.5rem;
    --normal-font-size: .938rem;
    --smaller-font-size: .813rem;

    /* Font Weight */
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;

    /* z-index */
    --z-fixed: 100;
    --z-back: -1;

}

@media screen and (min-width: 768px){
    :root{
        --biggest-font-size: 3rem;
        --bigger-font-size: 2rem;
        --big-font-size: 1.5rem;
        --normal-font-size: 1rem;
        --smaller-font-size: .857rem;
    }
}

/*---------BASE------------*/
*,::before,::after{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--medium);
    color: var(--black-color);
    line-height: 1.6;
}

h1,h2,h3,p,ul{
    margin:0;
}
ul{
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
    display:block;
}

i{
    font-size: 1.5rem;
    cursor: pointer;
}

/*---------CLASS CSS------------*/
section{
    padding: 4rem 0 3rem;
}
.section-title{
    font-size: var(--big-font-size);
    text-align: center;
    letter-spacing: .1rem;
}
.section-description{
    text-align: center;
    color: var(--gray-color);
    margin-bottom: 2rem;
    display: block;
}
/*---------BUTTON------------*/
.button{
    display: inline-block;
    transition: .3s;
    margin-bottom: 1rem;
}
.button:hover{
    transform: translateY(-.25rem);
}
/*---------LAYOUT------------*/
.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% -2rem);
    margin-left: 1rem;
    margin-right: 1rem;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: var(--z-fixed);
}
/*---------NAV------------*/
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo{
    color: var(--black-color);
    font-size: 1.2rem;
}

.nav__logo span{
    color:var(--orange-color);
}
@media screen and (max-width: 768px){
    .nav__menu{
        position: fixed;
        top:0;
        right: -100%;
        width: 70%;
        height: 100%;
        z-index: var(z-fixed);
        padding: 4rem 2rem 0;
        background-color: var(--orange-soft-color);
        transition: 2s;
    }
}
.nav__close{
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.nav__item{
    margin-bottom: 2rem;
}
.nav__link{
    color: var(--black-color);
    transition: .3s;
}
.nav__link:hover{
    color: var(--orange-color);
}
/* Show Menu */
.show{
    right: 0;
}

/* Active link */
.nav__link.active{
    position: relative;
}

.nav__link.active::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.3rem;
    width: 100%;
    height: 2px;
    background-color: var(--orange-color);
}
/* Scroll Header */
.scroll-header{
    background-color: var(--white-color);
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}
.nav__icons{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-left: auto;
}
/*---------HOME------------*/
.home{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url(img/home.png) no-repeat center/cover;
}
.home__container{
    align-items: center;
    height: inherit;
}
.home__data{
    padding: 2rem;
    background-color: var(--white-color);
}

.home__title{
    font-size: var(--biggest-font-size);
    line-height: 1.2;
    margin-bottom: 1rem;
}
.home__title span{
    color: var(--orange-color);
}
.home__description{
    color: var(--gray-color);
    margin-bottom: 2rem;

}
.home__btn{
    padding: 1rem 2rem;
    background-color: var(--orange-color);
    color: var(--white-color);
}
/*---------BANNER------------*/
.banner__container{
    grid-row-gap: 2rem;
    justify-content: center;
}
.banner__box{
    height: 328px;
    position: relative;
}
.banner__img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--z-back);
    object-fit: cover;
    object-position: top;
    border-radius: .5rem;
}
.banner__data{
    position: absolute;
    left: 0.5rem;
    bottom: 0.5rem;
    background-color: var(--white-color);
    padding: 1rem;
}
.banner__data h3{
    font-size: var(--big-font-size);
}
.banner__data span{
    color: var(--orange-color);
}
.banner__btn{
    padding: 0.5rem 1rem;
    background-color: var(--black-color);
    color: var(--white-color);
    margin-top: 1rem;
}
/*---------PRODUCTS------------*/
.categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;

}
.categories li{
    padding: 0.2rem 1rem;
    cursor: pointer;
    font-weight: var(--semi-bold);
    text-transform: uppercase;
    transition: .1s;
}
.categories li.active{
    background-color: var(--orange-color);
    color: var(--white-color);
}
.products__item{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2rem;
}
.item__box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--gray-color-lighten);
    transition: .3s;
    border-radius: .5rem;
}
.item__box:hover{
    transform: translateY(-.25rem);
}
.item__box h3{
    margin-bottom: 0.5rem;
}
.item__box img{
    height: 250px;
    object-fit: contain;
    margin-bottom: 0.5rem;
}
.product__btn{
    padding: 0.5rem 1rem;
    background-color: var(--black-color);
    color: var(--white-color);
    margin-top: 1rem;
}
.product__btn:hover{
    transform: translateY(0);
}
/*---------SERVICES------------*/
.services{
    margin-bottom: 2rem;
}
.services__container{
    grid-row-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}
.service__box{
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: 10px 10px 10px rgba(0,0,0,.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.service__box img{
    width: 60px;
    margin-bottom: 0.5rem;
}
.service__box p{
    font-weight: var(--semi-bold);
}
.service__box span{
    text-align: center;
    font-size: var(--smaller-font-size);
    color: var(--gray-color);
}
/*---------FOOTER------------*/
footer{
    padding: 4rem 0 3rem;
    background-color: var(--footer-color);
    color: var(--white-color);
}
footer i{
    color: var(--orange-color);
}
footer span{
    display:block;
}
footer a{
    color: var(--white-color);
    display: inline-block;
}
footer h3{
    margin-bottom: 1rem;  
}
.footer__container{
    grid-row-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}
.footer__inform li{
    display:flex;
    align-items: center;
    column-gap: 1rem;
    margin-bottom: 0.5rem;
}
.newsletter__subscribe{
    display: flex;
    column-gap: .5rem;
    padding: 0.5rem;
    border-radius: .5rem;
    background-color: var(--white-color);
    margin-top: 1rem;

}
.newsletter__input{
    width: 90%;
    outline: none;
    border: none;
}
.newsletter__input::placeholder{
    font-family: var(--body-font);
    font-weight: var(--semi-bold);
    color: var(--black-color);
}
.subscribe__btn{
    background-color: var(--orange-color);
    color: var(--white-color);
    padding: 0.5rem;
    border-radius: .5rem;
}
.footer__social{
    display: flex;
    column-gap: 1rem;
}
.footer__copy{
    font-size: var(--smaller-font-size);
    color: var(--gray-color);
    text-align: center;
    margin-top: 3rem;
}
/*---------MEDIA QUERIS------------*/
@media screen and (min-width: 576px){
/*Home*/
.home__data{
    width: max-content;
}
/*Banner*/
.banner__container{
    grid-template-columns: 415px;
}
}
@media screen and (min-width: 768px){
    /*NAV*/
    .nav__close, .nav__toggle{
        display:none;
    }
    .nav{
        height: calc(var(--header-height) + 1rem);
    }
    .nav__menu{
        margin-left: auto;
    }
    .nav__list{
        display:flex;
    }
    .nav__item{
        margin-right: 2rem;
        margin-bottom: 0;
    }
    /* Home */
    .home__data{
        padding: 3rem;
        margin-top: var(--header-height);
    }
}
@media screen and (min-width: 1024px){
    /* Layout */
    .bd-grid{
        margin:auto;
    }
    /* Banner */
    .banner__container{
        grid-template-columns: 30% 45% 25%;
        column-gap: .5rem;
    }
}